<table st-table="main.displayedCollection" class="table table-striped" id="table" st-safe-src="main.rowCollection">
  <thead>
  <tr>
    <th st-sort="firstName">First Name</th>
    <th st-sort="lastName">Last Name</th>
    <th st-sort="balance">Balance</th>
    <th st-sort="email">Email</th>
  </tr>
  <tr>
    <th>
      <input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
    </th>
    <th colspan="3">
      <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in main.displayedCollection">
    <td tabindex=0">{{row.firstName}}</td>
    <td tabindex=0">{{row.lastName}}</td>
    <td tabindex=0">{{row.balance | currency}}</td>
    <td tabindex=0">
      <button class="btn btn-sm" popover-placement="top" popover="{{row.email}}" type="button">
        <i class="glyphicon glyphicon-eye-open"></i>
      </button>
      <a ng-href="mailto:{{row.email}}">email</a></td>
    </td>
    <td><button type="button" ng-click="main.removeRow(row)" class="btn btn-sm btn-danger">
      <i class="glyphicon glyphicon-remove-circle">
      </i>
    </button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="7" class="text-center">
      <div st-pagination="" st-items-by-page="main.itemsByPage" st-displayed-pages="main.displayedPages"></div>
    </td>
  </tr>
  </tfoot>
</table>
<div ng-show="main.downloading" class="col-sm-4"><uib-progressbar class="progress-striped active" max="100" value="100" type="success"><i>Downloading</i></uib-progressbar></div>
<p>
  <button type="button" class="btn btn-primary btn-sm" ng-click="main.addNewItem()">Add New Item</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="main.toggleProgress()">Toggle Progress</button>
</p>
